// Helpful: https://www.koderhq.com/tutorial/sass/iteration-control/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

$primary-font: 'Ubuntu', sans-serif;

@import './animations/open', './animations/fadein';
@import './iteration';
@import './mixins';
@import './modal';
@import './routes/about', './routes/contact', './routes/web-apps';


* {
  margin: 0;
  font-family: $primary-font;
}

.body {
  height: 100vh;
  overscroll-behavior: none;
}

.main-grid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(21, 1fr);
  background-color: black;

  .modal-bg{
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100%;
    &.open{
      display: block;
    }
    &.close{
      display: none;
    }
  }
}

.box{
  @include flex-center;
  text-decoration: none;
  color: black
}

.nav-block {
  @include flex-center;
  background-color: white;
  height: 100%;
  width: 100%;
  cursor: pointer;
  animation: open 4s ease-in;
  
  &:hover{
    box-shadow: 0 0 50px 20px rgb(51, 49, 49) inset;
    letter-spacing: 6px;
  }
  & h4 {
    animation: fadein 2s ease-in-out;
    display: none;
    font-weight: 300;
    font-size: 24px;
    transition: all 1.5s;
  }
}
