.about-me{
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: #e8eddf;
  letter-spacing: 2px;

  & span{
    font-weight: 700;
    color: rgb(39, 42, 194)
  }
}
.about-me-img-container{
  margin-top: 20px;
  @include flex-center;

  & img{
    height: 100%;
    border-radius: 90%;

  }
}
