


.contact{
  margin: 25px 0;
  & a{
    text-shadow: rgb(51, 49, 49) 1px 0 10px;
    color: #e8eddf;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 2px;
    padding: 5px 15px;
    transition: all .5s ease-in-out;
  
    &:hover{
      background: grey;
      transform: scale(1.15);
    }
  }
  @include flex-center;
}

